/code1-solveByCG/lp/
/code2-solveByGroubi/output/
/code4-network/datasets/ds/test/
/code4-network/datasets/ds/train/trainData-with-solve_1500_3000/
/code4-network/datasets/ds/train/trainData-with-solve_1500_3000testtop10/
/code4-network/saved-models/
/code4-network/tools/04-ExtractFeatureWithSol/inputdata/
/code4-network/tools/04-ExtractFeatureWithSol/outputdata/
/code4-network/tools/08-divideData/input/
/code4-network/tools/08-divideData/output/
/code4-network/tools/09-solveLp/data/
/code4-network/tools/10-solveWithProb/data/
/code4-network/tools/11-tongjitool/inputdata/
/code5-dataProcessing/01-preDeal/inputData/
/code5-dataProcessing/01-preDeal/outputData/
/code5-dataProcessing/(past)02-flightStringMatching/inputdata/
/code5-dataProcessing/(past)02-flightStringMatching/outputdata/
/code5-dataProcessing/04-FromDataTOProblem/input/
/code5-dataProcessing/04-FromDataTOProblem/output/
